body{
    font-family:Arial,sans-serif;
    background: color #f0f2f5; 
     display:flex;
     justify-content: center;
     align-items:center;
     height: 100vh;
}
.form-container {
   background-color: #fff;
   padding: 30px;
   border-radius: 8px;
   width: 300px;
   box-shadow: 0 0 10px rgba(0,0,0,0.1);
} 
h2{
    text-align:center;
    color:#333; 
}
    label{
    display:block;
    margin-top: 10px;
    }
input[type="text"],
input[type="text"],
input[type="text"],
input[type="text"],

 width: 100%;
padding: 8px
margin-top4px;
box-sizing:border-box;
